<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Senha incorreta</title>
        <link rel="stylesheet" href="/styles/global.css">
        <link rel="stylesheet" href="/styles/modal.css">
    </head>
    <body>
        <div class="modal__wrapper modal__wrapper--active">
            <div class="modal">
                <h2>Senha Incorreta</h2>
                <p>Favor tentar novamente com a senha correta</p>
                <div class="buttons">
                    <button onclick="returnToRoom()" class="red">Continuar</button>
                </div>
            </div>
        </div>
        <script>
            function returnToRoom(){
            window.location.replace("/room/<%= roomId %>")
            }
        </script>
    </body>

</html>