<section>
    <h2>Entre como participante</h2>
    <form action="/enter-room" method="POST">
        <label class="sr-only" for="room-id">C칩digo da sala</label>
        <input type="number" id="roomId" name="roomId" placeholder="C칩digo da sala">
        <button>
            <img src="img/enter-room.svg" alt="Entrar na sala">
            Entrar na sala
        </button>
    </form>
</section>
<div class="separator">
    <hr><span>ou</span>
    <hr>
</div>
<section>
    <h2>Crie sua pr칩pria sala, de forma f치cil</h2>
    <a class="button outlined" href="/create-pass">
        <img src="img/users.svg" alt="Criar sala">
        Criar sala
    </a>
</section>