.content {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 11.4rem 1fr;

    grid-template-areas:
        'header header'
        'left right';
}

header {
    grid-area: header;

}

#bg {
    grid-area: left;
    
    background: url('../img/home_bg_img.svg') no-repeat top/contain;
    background-position: -10rem;
}

main {
    grid-area: right;

    display: flex;
    align-items: center;

    margin-top: -12rem;
}

min .container {
    width: 100%;

    width: min(36.3rem, 100%);
}

main h2 {
    font-family: var(--font-title);
    font-size: clamp(20px, 5vw, 2.8rem);
    font-weight: 700;

    color: var(--black);

    margin-bottom: 2.4rem;
}



input {
    border: .2rem solid var(--grey-blue);

    padding: 0 1.6rem;
    outline: none;
}

input, button, .button {
    width: 100%;

    margin-bottom: 1.8rem;
}


/*-------Separator line*/

.separator {
    display: flex;
    align-items: center;
    justify-content: space-around;

    margin: 4rem 0;
}

.separator > span {
    color: var(--grey-blue);
    font-weight: 400;
    line-height: 2.4rem;

    margin: 0 1.35rem;

}

.separator > hr {
    width: 100%;
    height: .1rem;
    background-color: var(--grey-blue);
}


/*----------Ball */
.ball {
    background-color: var(--blue);
    opacity: 0.1;

    position: fixed;
    
    clip-path: circle();
}

.ball--top {
    width: 63.35rem;
    height: 63.35rem;
    
    top: -38.5rem;
    right: -40.5rem;
}

.ball--bottom {
    width: 21.2rem;
    height: 21.2rem;
    
    bottom: -14.8rem;
    right: 5.6rem;
}